/* * {
  background-color: rgb(225, 255, 242);
} */
.App {
  margin: 0px, 0px;
  padding: 0px, 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: auto;
}

.selectors {
  margin: 0px, 0px;
  padding: 0px, 0px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid;
}

.burt {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  margin: 0px, 0px;
  padding: 0px, 0px;
  border: 1px solid;
}
